<%# Styles will be injected as inline styles when emails are sent %>
<%= stylesheet_link_tag "mailer" %>

<div class="body">
  <%= render partial: "layouts/mailer/header" unless @hide_header %>
  <div class="main">
    <%= yield %>
  </div>
  <%= render partial: "layouts/mailer/footer" unless @hide_footer %>
</div>
